@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

body{
    margin:  0 400px;
    background-color: #78a3cc;
    color: whitesmoke;
}

h1 {
    margin-left: 450px;
    justify-content: center;

}

h2 {
    font-family: 'Benne', serif;
    font-size: 35px;
    color: rgb(235, 192, 74);  
}

